<% include layout_header %>
<% include menu %>

<div id="main" class="main-container container">
  <div class="row">
    <div class="col-md-9">
    <!--  start 问题详情 -->
      <div class="topic-detail panel panel-default">
        <div class="panel-heading media clearfix">
          <div class="media-body">
            <h1 class="media-heading">
              <%= entry.title %>
            </h1>
            <div class="info">
              <a class="node" href="/tab/<%= entry.tab %>">
                <%= entry.tab %> 
              </a>
              ·
              <a data-author="true" data-name="Mu-Fan teng" href="/user/<%= author.login_name %>">
                <%= author.login_name %> 
              </a>
              · 于
              <abbr class="timeago" title="<%= entry.create_date %>">
                17 天前
              </abbr>
              发布 · 最后由
              <a data-name="fredwu" href="/user/<%= entry.last_reply_user %>">
                <%= entry.last_reply_user %>
              </a>
              于
              <abbr class="timeago" title="2015-06-19T20:59:28+08:00">
                2 天前
              </abbr>
              回复 · 705 次阅读
            </div>
          </div>
          <div class="avatar media-right">
            <a href="/user/<%= author.login_name %>">
              <img class="media-object avatar-48" src="<%= author.avatar %>">
            </a>
          </div>
        </div>
        <div class="panel-body ">
          <%- entry.html %>
        </div>
        <div class="panel-footer clearfix">
          <div class="opts">
            <a title="喜欢" data-count="2" data-state="" data-type="Topic" data-id="25886"
            class="likeable" href="javascript:void(0);">
              <i class="fa fa-heart-o">
              </i>
              <span>
                2 人喜欢
              </span>
            </a>
            <% if(locals.user){ %>
              <a data-id="25886" data-followed="false" class="follow" href="javascript:void(0);">
                <i class="fa fa-eye">
                </i>
                关注
              </a>
              <% locals.user.favorite_entry_ids.forEach(function(id){ if(id == entry._id){ locals.user.isFavorite = true; %>
                <a title="收藏" class="bookmark followed" action="de_collect" data-id="25886" href="javascript:void(0);">
                  <i class="fa fa-bookmark">
                  </i>
                </a>
              <% }}) %>

              <% if(!locals.user.isFavorite) { %>
                <a title="收藏" class="bookmark" action="collect" data-id="25886" href="javascript:void(0);">
                  <i class="fa fa-bookmark">
                  </i>
                </a>
              <% } %>
            <% } %>
            <span class="pull-right opts">
            </span>
          </div>
        </div>
      </div>
    <!--  end 问题详情 -->

    <!--  start回复列表 -->
      <% if(replies.length > 0){ %> 
      <div id="replies" class="panel panel-default" data-last-floor="5">
        <div class="total panel-heading">
          共收到
          <b>
            <%= replies.length %> 
          </b>
          条回复
        </div>
        <% include reply %>
        <div class="panel-footer clearfix">
        </div>
      </div>
      <% } %>
    <!--  end 回复列表 -->

    <!-- start 回复框 --> 
      <div id="reply" class="panel panel-default">
        <div class="panel-heading">
          回帖
        </div>
        <div class="panel-body">
          <% include new_reply_form %>
        </div>
      </div>
    <!-- end 回复框 -->
    </div>

    <div class="sidebar col-md-3">
      <!-- 小贴士-->
      <% include tip %>
      <!-- start  其它节点话题 -->
      <% include other_entries %>
    </div>
  </div>
</div>

<script type="text/javascript">
  <% if(locals.user) { %>
    $(".likeable").click(function(){
      var action = $(".likeable").attr('action');
//      $.post( "./<%= entry._id %>/"+action,{}, function(data) {
//        if(data.status == 0){
              if(action == "collect"){
                $(".likeable").attr('action','de_collect');
              }else{
                $(".likeable").attr('action','collect');
              }
              $(".likeable").toggleClass('followed');      
//        }
//      }, "json");
    });
  
    $(".bookmark").click(function(){
      var action = $(".bookmark").attr('action');
      $.post( "./<%= entry._id %>/"+action,{}, function(data) {
        if(data.status == 0){
          if(action == "collect"){
            $(".bookmark").attr('action','de_collect');
          }else{
            $(".bookmark").attr('action','collect');
          }
          $(".bookmark").toggleClass('followed');
        }
      }, "json");
    });
    console.log("<%= locals.user.favorite_entry_ids[0] %>");
  <% } %>
</script>
<% include layout_footer %>
