<% entries.forEach(function(entry){ %>
  <div class="topic media topic-<%= entry._id %>">
     <div class="avatar media-left">
       <a href="/<%= entry.username %>"><img class="media-object avatar-48" src="/<%= user.avatar %> " alt="avatar"></a>
     </div>
     <div class="infos media-body">
       <div class="title media-heading">
          <a href='/entry/<%= entry._id %>'><%= entry.title %></a>
          <% if(entry.is_top){ %>
            <i class="fa fa-thumb-tack" title="置顶"></i>
          <% } %>
          <% if(entry.is_good){ %>
            <i title="精华帖" class="fa fa-diamond"></i>
          <% } %>
       </div>
       <div class="info">
          <a class="node" href="/tab/<%= entry.tab %>"><%= entry.tab %></a>
          <a data-name="Mu-Fan teng" href="/<%= entry.username %>"><%= entry.username %></a>
          <span class="hidden-mobile">
          <% if(entry.last_reply_user){ %> 
            最后由 <a data-name="<%= entry.last_reply_user %>" href="/<%= entry.last_reply_user %>"><%= entry.last_reply_user %></a> 于 <abbr class="timeago" title="11 天前">11 天前</abbr>回复
          <% }else{ %> 
            于 <abbr class="timeago" title="11 天前">11 天前</abbr>发布
          <% } %>
          </span>
       </div>
     </div>
     <div class="count media-right">
       <a class="state-false" href="/entry/<%= entry._id %>#reply<%= entry.reply_count %>"><%= entry.reply_count %></a>
     </div>
  </div>
<% }) %>
