<% include layout_header %>
<% include menu %>

<div id="main" class="main-container container">
  <div id="notifications" class="panel panel-default">
    <div class="tools panel-heading">
      <a class="btn btn-danger" data-disable-with="清空中..." rel="nofollow" data-method="post" href="/notifications/clear"><i class="fa fa-fa fa-trash"></i> <span>标记已读</span></a>
      <div class="pull-right"><h4>通知提醒</h4></div>
    </div>

    <div class="panel-body">
    <% notifications.forEach(function(notification){ %>
      <div class="media notification" id="notification-<%= notification._id %>">
        <div class="media-left avatar">
          <a href="/user/<%= notification.user.login_name %>"><img class="media-object avatar-48" src="<%= notification.user.avatar %>"></a>
        </div>
        <div class="media-body" style='vertical-align:middle;' >
            <span class="user">
              <a data-name="<%= notification.user.login_name %>" href="/user/<%= notification.user.login_name %>"><%= notification.user.login_name %></a>
            </span>
            <span class="info">回复了帖子
              <a title="<%= notification.entry.title %>" href="/entry/<%= notification.entry._id %>"><%= notification.entry.title %></a> 
            </span>
            <span class="date"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="<%= notification.create_date %>"><%= notification.timeTrap %></abbr></span>
        </div>

        <div class="media-right opts">
        <a data-remote="true" rel="nofollow" data-method="delete" href="/notifications/838862"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    <% }) %>
    </div>
    <% include pager %>
  </div>
</div>

<% include layout_footer %>

