<div class="items panel-body">
  <% replies.forEach(function(reply,index){ %>
  <div class="reply" id="reply<%= index + 1 %>">
    <div class="avatar">
      <a href="/user/<%= reply.author.login_name %>">
        <img class="media-object avatar-48" src="<%= reply.author.avatar %>">
      </a>
    </div>
    <div class="infos">
      <div class="info">
        <span class="name">
          <a data-name="Mu-Fan teng" href="/user/<%= reply.author.login_name %>">
            <%= reply.username %>
          </a>
        </span>
        <span class="time">
          <a class="reply-floor" href="#reply<%= index + 1 %>">
            #<%= index + 1 %>
          </a>
          ·
          <abbr class="timeago" title="2015-06-04T22:14:20+08:00">
            17 天前
          </abbr>
        </span>
        <span class="opts pull-right">
          <a title="喜欢" data-count="3" data-state="" data-type="Reply" data-id="261737"  action="like"
          class="likeable" href="javascript:void(0);">
            <i class="fa fa-heart-o">
            </i>
            <span>
              <span class="like-count">5</span> 人喜欢
            </span>
          </a>
          <a class="edit fa fa-pencil" data-uid="5841" title="修改回帖" href="javascript:void(0);">
          </a>
          <a data-floor="1" data-login="ryudoawaru" title="回复此楼" class="btn-reply fa fa-mail-reply"
          href="#">
          </a>
        </span>
      </div>
      <div class="markdown">
        <%- reply.html %> 
      </div>
    </div>
  </div>
  <% }) %>
</div>
<script type="text/javascript">
  <% if(locals.user) { %>
    // 修改评论(未做用户判断)
    $("#replies").on("click", ".edit", function(){
      var $edit_btn = $(this);
      if ($edit_btn.hasClass("act")) {
        $edit_btn.removeClass("act").closest(".reply").find(".markdown").show();
        $edit_btn.closest(".reply").find(".editor_block").remove();

      } else {
        var editor_block = '<div class="editor_block"><textarea id="editor" name="body" rows="5" class="form-control"></textarea></div>';
        $edit_btn.addClass("act").closest(".reply").find(".markdown").hide();
        $edit_btn.closest(".reply").append(editor_block);

        var editor = new Editor({
          element: document.getElementById('editor'),
          status:false
        });
        editor.render();
      }
    });

    // 评论的喜欢
    $("#replies").on("click", ".likeable", function(){
      var $likeable = $(this);
      var $like_count = $likeable.find(".like-count");
      var action = $likeable.attr('action');
      var count = parseInt($like_count.text());
      // $.post( "./<%= entry._id %>/"+action, {}, function(data) {
        // if(data.status == 0){
          if(action == "like"){
            $likeable.attr('action','de_like');
            $like_count.text(count + 1);
          }else{
            $likeable.attr('action','like');
            $like_count.text(count - 1);
          }
          $likeable.toggleClass('followed');
        // }
      // }, "json");
      // }
    });
  <% } %>
</script>
