<div class="items panel-body">
  <% replies.forEach(function(reply,index){ %>
  <div class="reply" id="reply<%= index + 1 %>" data-id="<%= reply.id %>">
    <div class="avatar">
      <a href="/user/<%= reply.author.login_name %>">
        <img class="media-object avatar-48" src="<%= reply.author.avatar %>">
      </a>
    </div>
    <div class="infos">
      <div class="info">
        <span class="name">
          <a data-name="Mu-Fan teng" href="/user/<%= reply.author.login_name %>">
            <%= reply.username %>
          </a>
        </span>
          ·
        <span class="time">
          <a class="reply-floor" href="#reply<%= index + 1 %>">
            #<%= index + 1 %>
          </a>
          ·
          <abbr class="timeago" title="<%= reply.create_date %>">
            <%= reply.timeTrap %>
          </abbr>
        </span>

        <span class="opts pull-right">
          <% if(reply.isLike){ %>
            <a title="喜欢" data-count="<%= reply.liked_count %>" data-state="" data-type="Reply" data-id="261737"  action="de_like" class="likeable followed" href="javascript:void(0);">
              <i class="fa fa-heart-o">
              </i>
              <span>
                <span class="like-count"><%= reply.liked_count %></span> 人喜欢
              </span>
            </a>
          <% }else{ %> 
            <a title="喜欢" data-count="<%= reply.liked_count %>" data-state="" data-type="Reply" data-id="261737"  action="like" class="likeable" href="javascript:void(0);">
              <i class="fa fa-heart-o">
              </i>
              <span>
                <span class="like-count"><%= reply.liked_count %></span> 人喜欢
              </span>
            </a>
          <% } %>
          <% if(locals.user && reply.author_id == locals.user._id){ %>
            <a class="edit fa fa-pencil" data-uid="5841" title="修改回帖" href="javascript:void(0);">
            </a>
          <% } %>
          <% if(locals.user){ %> 
            <a data-floor="1" data-login="ryudoawaru" title="回复此楼" class="btn-reply fa fa-mail-reply"
            href="#">
            </a>
          <% } %>
        </span>

      </div>
      <div class="markdown">
        <%- reply.html %> 
      </div>
    </div>
  </div>
  <% }) %>
</div>

<script type="text/javascript">
  <% if(locals.user) { %>
    // 修改评论(未做用户判断)
    $('#replies').on('click', '.edit', function(){
      var $edit_btn = $(this);
      var $reply = $edit_btn.closest('.reply');
      var reply_id = $reply.attr('data-id');

      // 若修改按钮有act标记,则执行缺消修改操作
      if ($edit_btn.hasClass('act')) {
        $edit_btn.removeClass('act');
        $reply.find('.markdown').show();
        $reply.find('.editor_block').remove();

      } else {
        var editor_block = '<div class="editor_block">\
              <form  >\
                <p><input  type="hidden" name="entry_id" value="<%= entry._id %>"/></p>\
                <div id="reply" class="form-group">\
                  <textarea id="editor" name="body" rows="5" class="form-control"></textarea>\
                </div>\
                <div class="form-group">\
                  <p><input class="btn btn-primary btn_edit_reply" type="button" value="comment"/>\
                  <input class="btn btn-warning btn_edit_reply_cancel" type="button" value="cancel"/></p>\
                </div>\
              </form>\
            </div>'; 
        $edit_btn.addClass('act');
        $reply.find('.markdown').hide();
        $reply.append(editor_block);

        var editor = new Editor({
          element: document.getElementById('editor'),
          status: false
        });
        editor.render();

        // 往编辑器里插入原来的评论内容
        $.get('/reply/' + reply_id, {}, function(result) {
          editor.codemirror.setValue(result.data.body);
        }, 'json');

        // 点击按钮,提交评论,并删除编辑器,插入新评论
        $reply.on('click', '.btn_edit_reply', function(){
          $.post( '/reply/'+ reply_id, {}, function(data) {
            if(data.status == 0){
            }
          }, 'json');
        });

        // 点击cancel按钮,删除编辑器,显示评论
        $reply.on('click', '.btn_edit_reply_cancel', function(){
          $reply.find(".editor_block").remove();
          $reply.find('.markdown').show();
          $edit_btn.removeClass('act');
        });

      }
    });

    // 评论的喜欢
    $('#replies').on('click', '.likeable', function(){
      var $likeable = $(this);      
      var $reply = $likeable.closest('.reply');
      var $like_count = $likeable.find('.like-count');
      var reply_id = $reply.attr('data-id');
      var action = $likeable.attr('action');
      var count = parseInt($like_count.text());
      var a = '/reply/' + reply_id + '/' + action;
      $.post('/reply/' + reply_id + '/' + action, {}, function(data) {
        console.log(action);
        if (data.status == 0) {
          if (action == 'like') {
            $likeable.attr('action','de_like');
            $like_count.text(count + 1);
          } else {
            $likeable.attr('action','like');
            $like_count.text(count - 1);
          }
          $likeable.toggleClass('followed');
        }
      }, 'json');
    });
  <% } %>
</script>
