<% include ../base/layout_header %>
<% include ../base/menu %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar col-md-4">
      <% include left_slider %>
    </div>
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="">
          <a href="/user/<%= user.login_name %>">
            个人信息
          </a>
        </li>
        <li class="">
          <a href="/user/<%= user.login_name %>/entries">
            帖子
          </a>
        </li>
        <li class="active">
          <a href="/user/<%= user.login_name %>/favorites">
            收藏
          </a>
        </li>
        <li class="">
          <a href="/user/<%= user.login_name %>/followers">
            关注者
          </a>
        </li>
        <li class="">
          <a href="/user/<%= user.login_name %>/following">
            正在关注
          </a>
        </li>
        <li class="">
          <a href="/user/<%= user.login_name %>/blocked">
            已屏蔽
          </a>
        </li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="node-topics table table-striped">
            <tbody>
              <tr class="head">
                <td class="opts">节点</td>
                <td class="title">标题</td>
              </tr>
              <% entries.forEach(function(entry){ %>
                <tr class="topic">
                  <td width="15%">
                    <a class="node" href="/tab/<%= entry.tab %>"><%= entry.tab %></a>
                  </td>
                  <td class="title">
                    <a title="<%= entry.title %>" href="/entry/<%= entry._id %>"><%= entry.title %></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
<% include ../base/layout_footer %>
